


/****box****/
.box{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.box h1{
 position: relative;
  text-transform: uppercase;
  align-items: center;
}
/*****/
#wrappe{
  background: url("b2.png") no-repeat center center;
	background-size: cover;
	width: 100%;
  height: 100vh;
  box-shadow: 25px 25px 25px 25px #fff;
}
.wrappeR{
	color: deepskyblue;
	max-width: 900px;
	width: 100%;
	height: 100vh;
	margin: 80px auto 0;
	padding: 10px;
}

.wrappeR h1{
	font-size: 48px;
	letter-spacing: 5px;
	text-align: center;
	text-transform: uppercase;
}

.wrappeR p{
	text-align: center;
}

.wrappeR .contactus{
	margin: 50px 0 0;
}

.wrappeR .contactus .input_wrapper{
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
}

.wrappeR .contactus .input_wrapper .input_item{
	width: 48%;
	position: relative;
}

.wrappeR .contactus .input_item input[type="text"],
.wrappeR .contactus textarea{
	width: 100%;
	border: 0;
	padding: 18px;
	padding-left: 40px;
  border-radius: 3px;
  
}

.wrappeR .contactus .message_wrapper{
	position: relative;
}

.wrappeR .contactus .message_wrapper textarea{
	height: 180px;
	resize: none;
}

.wrappeR .contactus .btn{
	width: 48%;
	background: #00aced;
	margin: 20px auto 0;
	text-align: center;
	padding: 18px;
	border-radius: 3px;
}

.wrappeR .contactus .btn a{
	color: darkblue;
	display: block;
	text-transform: uppercase;
	letter-spacing: 5px;
}

.wrappeR .contactus .fas{
	position: absolute;
	color: red;
	top:  20px;
	left: 15px;
	color: rgb(17, 51, 245);
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: rgb(194, 51, 51);
}
::-moz-placeholder { /* Firefox 19+ */
  color: rgb(197, 49, 57);
}
:-ms-input-placeholder { /* IE 10+ */
  color: rgb(185, 53, 64);
}

@media (max-width: 460px){
	.wrappeR{
		margin: 0 auto;
	}
	.wrappeR h1{
		font-size: 32px;
	}
	.wrappeR .contactus{
		margin: 20px 0 0;
	}
	.wrappeR .contactus .input_wrapper{
		flex-direction: column;
		margin-bottom: 0;
	}
	.wrapper .contactus .input_wrapper .input_item{
		width: 100%;
		margin-bottom: 0px;
	}
	.wrapper .contactus .input_item input[type="text"]{
		margin-bottom: 15px;
		width: 100%;
	}	
}






.header{
    height: 100px;
    background: #34495e;
    padding: 0 20px;
    color: #fff;
  }
  .logo{
    line-height: 100px;
    float: left;
    text-transform: uppercase;
  }
  
  .menu{
    float: right;
    line-height: 100px;
  }
  .menu a{
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0 10px;
    transition: 0.4s;
  }
  .show-menu-btn,.hide-menu-btn{
    transition: 0.4s;
    font-size: 30px;
    cursor: pointer;
    display: none;
  }
  .show-menu-btn{
    float: right;
  }
  .show-menu-btn i{
    line-height: 100px;
  }
  .menu a:hover,
  .show-menu-btn:hover,
  .hide-menu-btn:hover{
    color: #3498db;
  }
  
  #chk{
    position: absolute;
    visibility: hidden;
    z-index: -1111;
  }
  
  .content{
    padding: 0 20px;
  }
  .content img{
    width: 100%;
    max-width: 700px;
    margin: 20px 0;
  }
  .content p{
    text-align: justify;
  }
  
  @media screen and (max-width:800px) {
    .show-menu-btn,.hide-menu-btn{
      display: block;
    }
    .menu{
      position: fixed;
      width: 100%;
      height: 100vh;
      background: #333;
      right: -100%;
      top: 0;
      text-align: center;
      padding: 80px 0;
      line-height: normal;
      transition: 0.7s;
    }
    .menu a{
      display: block;
      padding: 20px;
    }
    .hide-menu-btn{
      position: absolute;
      top: 40px;
      right: 40px;
    }
    #chk:checked ~ .menu{
      right: 0;
    }
  }
  /****contact form***
.container {
    margin-top: 100px;                                
    width: 100%;
    min-height: 100vh;
   display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background: linear-gradient(45deg, #0f0c29, #302b63, #24243e);
  }
  
  .wrappeR {
    background: transparent;
    width: 800px;
    border-radius: 10px;
    padding: 42px 55px 45px 55px;
    box-shadow: 0 10px 30px 0px rgba(0,0,0, .2);
  }
  
  .inline-row {
    display: flex;
    margin-bottom: 40px;
  }
  
  .form {
    width: 100%;
  }
  
  .title {
    display: block;
    font-size: 39px;
    color: #fff;
    text-align: center;
    padding-bottom: 44px;
    font-weight: 700;
    letter-spacing: 2px;
  }
  
  .input {
    width: 100%;
    position: relative;
    border-bottom: 1px solid rgba(255,255,255,.5);
    padding-bottom: 13px;
    margin: 10px;
  }
  
  label {
    font-size: 13px;
    color: #fff;
    padding-left: 5px;
  }
  
  input, textarea {
    outline: none;
    border: none;
    font-family: 'Montserrat';
    display: block;
    width: 100%;
    background: transparent;
    font-size: 18px;
    color: #fff;
    padding: 0 5px;
  }
  
  input {
    height: 40px;
  }
  
  textarea {
    min-height: 150px;
    padding-top: 9px;
    padding-bottom: 13px;
  }
  
  ::-webkit-input-placeholder {
    color: rgba(255,255,255,.5);
    font-size: 18px;
  }
  
  .line {
    position: absolute;
    top: 100%;
    width: 0%;
    height: 1px;
    background: #fff;
    transition: .5s;
  }
  
  .focus + .line {
    width: 100%;
  }
  
  .submit-btn {
    background: transparent;
    color: #fff;
    text-align: center;
    width: 160px;
    height: 50px;
    padding: 10px 20px;
    margin-top: 60px;
    border-radius: 50px;
    font-size: 20px;
    transition: .2s ease-in-out;
    cursor: pointer;
    border: 3px solid #fff;
    font-weight: 600;
  }
  
  .submit-btn:hover {
    background: #fff;
    color: #0f0c29;
  }
  
  @media (max-width: 600px) {
    .submit-btn {
      width: 100%;
    }
  
    .inline-row {
      flex-direction: column;
      margin-bottom: 0;
    }
  
    .input {
      margin: 0;
      margin-bottom: 27px;
    }
  }

  /***map***/
  .map{
    align-items: center;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 100px;
  }
  /****footer***/
  #footer {margin: 0;
  padding: 0;
  background: #fff;
  width: 100%;
  height: 100px;
  margin-bottom: 0px;
}
.footer{
    background-color: #F3F5F5;
    width: auto;
    text-align: left;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 16px;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 50px;
    padding-left: 50px;
}
.footer .footer-left,
.footer .footer-center,
.footer .footer-right {
display: inline-block;
vertical-align: top;
}
.footer .footer-left {
width: 40%;
padding-right: 15px;
}
.footer-left h2{
text-transform: uppercase;
}
.footer .about {
line-height: 20px;
color: rgba(0,0,0,0.6);
font-size: 13px;
font-weight: normal;
margin: 0;
}
.footer .about span {
display: block;
color: rgba(0,0,0,0.6);
font-size: 12px;
font-weight: bold;
margin-bottom: 20px;
margin-top: 20px;
}
.footer .icons {
margin-top: 25px;
}

.footer .icons a {
display: inline-block;
width: 35px;
height: 35px;
cursor: pointer;
font-size: 25px;
text-align: center;
color: rgba(155, 18, 215,0.5);
margin-right: 6px;
margin-bottom: 5px;
}
.footer .icons a:hover{
color: rgba(0,0,0,0.6); 
-webkit-transition:all ease 0.5s;
}
.footer .footer-center {
width: 40%;
}

.footer .footer-center i {
color: rgba(0,0,0,0.6);
font-size: 25px;
width: 38px;
height: 38px;
text-align: center;
margin: 10px 15px;
vertical-align: middle;
}

.footer .footer-center i.fa-envelope {
font-size: 17px;
line-height: 38px;
}

.footer .footer-center p {
display: inline-block;
color: rgba(0,0,0,0.6);
vertical-align: middle;
margin: 0;
}

.footer .footer-center p span {
display: block;
font-weight: normal;
font-size: 14px;
line-height: 2;
}

.footer .footer-center p a {
color: #0099ff;
text-decoration: none;
}
.footer .footer-center p a:hover {
color: rgba(155, 18, 215,0.5);
-webkit-transition:all ease 0.5s;
}
.footer .footer-right {
width: 10%;
margin-left: 2px;
}
.footer .footer-right b{
color: rgba(0,0,0,0.6);
margin-left: -12px;
font-size: 20px;
}
h2 {
color: #ffffff;
font-size: 36px;
font-weight: normal;
margin: 0;
color: #0099ff;
}

.footer .menu {
color: rgba(0,0,0,0.6);
margin: 20px 0 12px;
padding: 0;
}

.footer .menu a {
display: block;
line-height: 1.8em;
text-decoration: none;
color: inherit;
}

.footer .menu a:hover {
color: #0099ff;
-webkit-transition:all ease 0.5s;
}

.footer .name {
color: #0099ff;
font-size: 14px;
font-weight: normal;
margin: 50px;
}

@media (max-width: 767px) {
.footer {
font-size: 14px;
}
.footer .footer-left,
.footer .footer-center,
.footer .footer-right {
display: block;
width: auto;
margin-bottom: 40px;
text-align: center;
}
.footer .footer-center i {
margin-left: 0;
}
}